<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <title>REST API</title>
</head>
<body>
    <h1 th:text="${description}"></h1>
    <p th:text="'Version: '+ ${version}"></p>
    <p th:text="'Name: '+ ${name}"></p>
    <p th:text="'URL: '+ ${url}"></p>
    <p th:text="'Profile: '+ ${profile}"></p>

    <hr>

    <h2>Simulator</h2>
    <pre><a href="/simulator">/simulator</a></pre>

    <hr>

    <h2>Users</h2>
    <pre><a href="/users">/users</a></pre>
</body>
</html>